/* this is a comment */

body {
    margin: 0; /* regular spacing*/
    font-family: Monospace, Arial, Helvetica, sans-serif;
    background-color: #C4EBF1;
    color:black;
}

.navbar {
    background-color:aliceblue;
}

.nav-left a{ /* a stands for anchor. it allows user to follow a link*/
    color: #000;
    font-weight: bold;
}

h1 {
    margin: 2.5rem;
    font-size: 2.5rem;
}

.description {
    margin: 2rem;
    font-size: 1.1rem;
    max-width: 500px;
}

/*CSV Upload*/

input[type="file"] {
    margin: 2rem;
}
